@font-face {
    font-family: 'fruktur';
    src: url('../Recources/Fruktur/Fruktur.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#canvas {
    position: absolute;
    left: 0;
    top: 0;
}
button {
    font-family: 'fruktur';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    text-align: center;
}
#playSceneButtonsPlay{
    top: 60%;
    left: 80%;
}
#playSceneButtonsCredits{
    top: 80%;
    left: 80%;
}